In [1]:
import pandas as pd
#import os
#import stanza
from nltk import pos_tag
from nltk import word_tokenize
from nltk.util import ngrams
#os.path.abspath(os.getcwd())

In [2]:
df = pd.read_excel("datos_features.xlsx")

In [3]:
df.head(3)

,id,text,is_humor,humor_rating,humor_controversy,offense_rating,texto_limpio,sentimiento_stanza,polaridad_media_sentic,sentiwordnet_score,...,Hurtlex-plants,Hurtlex-animals,Hurtlex-male-genitalia,Hurtlex-female-genitalia,Hurtlex-words-prostitution,Hurtlex-words-homosexuality,Hurtlex-potential-negative-connotations,Hurtlex-derogatory-words,Hurtlex-felonies-crime-immoral-behavior,Hurtlex-word-seven-deadly-sins-of-the-Christian-tradition
0,1,TENNESSEE: We're the best state. Nobody even c...,1,2.42,1.0,0.2,tennessee we be the good state nobody even com...,0,0.112,0.625,...,0,1,0,0,0,0,0,0,0,0
1,2,A man inserted an advertisement in the classif...,1,2.50,1.0,1.1,a man insert a advertisement in the classified...,1,0.404,0.750,...,0,0,0,0,0,0,0,1,0,0
2,3,How many men does it take to open a can of bee...,1,1.95,0.0,2.4,how many man do it take to open a can of beer ...,0,0.228,-0.375,...,0,0,1,0,0,0,0,1,0,0

### Hurtlex

In [37]:
df_hurtlex = pd.read_csv('https://raw.githubusercontent.com/valeriobasile/hurtlex/master/lexica/EN/1.2/hurtlex_EN.tsv', sep='\t')
#df_anew.to_csv('/Users/luciainesmerlo/Desktop/TFG/HaHackaton2020/datos_anew.csv', sep=',')
#df_hurtlex = pd.read_csv('datos_hurtlex.csv', sep='\t')
#df_hurtlex.head()
df_hurtlex.groupby(['category'],as_index=False).size()#.reset_index(name='counts')

   category  size
0        an   996
1       asf   144
2       asm   426
3       cds  2204
4       ddf    63
5       ddp   491
6       dmc   715
7        is   124
8        om   361
9        or   177
10       pa   192
11       pr   276
12       ps   371
13      qas   518
14      rci    24
15       re   619
16      svp   527

In [5]:
words_hurtlex = {
    row['lemma']: {
        'category': str(row['category']),
        'stereotype': str(row['stereotype'])
    }
    
    for _, row in df_hurtlex.iterrows()
}

def generate_N_grams(text,ngram=1):
    
    words=[word for word in text.split(" ") ]  
          
    temp=zip(*[words[i:] for i in range(0,ngram)])
    ans={' '.join(ngram):1 for ngram in temp}
    return ans

In [14]:
text = df['texto_limpio']

ps=[]
rci=[]
pa=[]
ddf=[]
ddp=[]
dmc=[]
is_=[]
or_=[]
an=[]
asm=[]
asf=[]
pr=[]
om=[]
qas=[]
cds=[]
re=[]
svp=[]

s=set()
for i in text: 
    
    unigrama = generate_N_grams(i,1)
    bigrama = generate_N_grams(i,2)
    gramas = {**unigrama, **bigrama}
    
    score_ps = 0
    score_rci = 0
    score_pa = 0
    score_ddf = 0
    score_ddp = 0
    score_dmc = 0
    score_is = 0
    score_or = 0
    score_an = 0
    score_asm = 0
    score_asf = 0
    score_pr = 0
    score_om = 0
    score_qas = 0
    score_cds = 0
    score_re = 0
    score_svp = 0
    
    
    for key in gramas:
        info_word = words_hurtlex.get(key)
        if info_word:
            category = info_word.get('category')
            
            if category == 'ps':
                score_ps += 1
                
            elif category == 'rci':
                score_rci += 1
            
            elif category == 'pa':
                score_pa += 1
                
            elif category == 'ddf':
                score_ddf += 1
                
            elif category == 'ddp':
                score_ddp += 1
                
            elif category == 'dmc':
                score_dmc += 1
                
            elif category == 'is':
                score_is += 1
                
            elif category == 'or':
                score_or += 1
                s.add(key)
                
            elif category == 'an':
                score_an += 1
                
            elif category == 'asm':
                score_asm += 1
                
            elif category == 'asf':
                score_asf += 1
                
            elif category == 'pr:':
                score_pr += 1
                
            elif category == 'om:':
                score_om += 1
                
            elif category == 'qas':
                score_qas += 1
                
            elif category == 'cds':
                score_cds += 1
                
            elif category == 're':
                score_re += 1
            
            elif category == 'svp':
                score_svp += 1
            
    ps.append(score_ps)
    rci.append(score_rci)
    pa.append(score_pa)
    ddf.append(score_ddf)
    ddp.append(score_ddp)
    dmc.append(score_dmc)
    is_.append(score_is)
    or_.append(score_or)
    an.append(score_an)
    asm.append(score_asm)
    asf.append(score_asf)
    pr.append(score_pr)
    om.append(score_om)
    qas.append(score_qas)
    cds.append(score_cds)
    re.append(score_re)
    svp.append(score_svp)

In [15]:
list(s)

['snatch',
 'tomato',
 'dome',
 'faggot',
 'bean',
 'slit',
 'puss',
 'turnip',
 'squash',
 'melon',
 'homo',
 'cunt',
 'pumpkin',
 'potato',
 'attic',
 'bittersweet',
 'gay',
 'stupid',
 'cucumber',
 'fag',
 'queer',
 'noodle']

In [12]:
df['Hurtlex-negative-stereotypes-ethnic-slurs'] = ps
df['Hurtlex-locations-and-demonyms'] = rci
df['Hurtlex-professions-and-occupations'] = pa
df['Hurtlex-physical-disabilities-and-diversity'] = ddf
df['Hurtlex-cognitive disabilities-and-diversity'] = ddp
df['Hurtlex-moral-and-behavioral-defects'] = dmc
df['Hurtlex-words-social-economic-disadvantage'] = is_
df['Hurtlex-plants'] = or_
df['Hurtlex-animals'] = an
df['Hurtlex-male-genitalia'] = asm
df['Hurtlex-female-genitalia'] = asf
df['Hurtlex-words-prostitution'] = pr
df['Hurtlex-words-homosexuality'] = om
df['Hurtlex-potential-negative-connotations'] = qas
df['Hurtlex-derogatory-words'] = cds
df['Hurtlex-felonies-crime-immoral-behavior'] = re
df['Hurtlex-word-seven-deadly-sins-of-the-Christian-tradition'] = svp

### EmoSenticNet

In [39]:
#anger, disgust, fear, joy, sad, surprise
col = ['word']
df_emosenticnet = pd.read_csv("/Users/luciainesmerlo/Desktop/TFG/HaHackaton2020/lexicon/EMOSENTICNET/EmoSN_anger.txt",names=col)
df_emosenticnet.head

<bound method NDFrame.head of                        word
0                       abc
1           access internet
2                       ace
3                achievable
4           acknowledgement
..                      ...
824                   worse
825  write computer program
826            write friend
827    wrong another person
828           yellow orange

[829 rows x 1 columns]>

In [49]:
#anger, disgust, fear, joy, sad, surprise
df_emosenticnet['emotion'] = 'surprise'
lexicon = {row['word'] : row['emotion'] for _, row in df_emosenticnet.iterrows()}

In [50]:
text = df['texto_limpio']

def generate_N_grams(text,ngram=1):
    
    words=[word for word in text.split(" ") ]  
          
    temp=zip(*[words[i:] for i in range(0,ngram)])
    ans={' '.join(ngram):1 for ngram in temp}
    return ans

l = []

for i in text: 
    
    unigrama = generate_N_grams(i,1)
    bigrama = generate_N_grams(i,2)
    trigrama = generate_N_grams(i,3)
    cuatrigrama = generate_N_grams(i,4)
    gramas = {**unigrama, **bigrama,**trigrama,**cuatrigrama}
    
    score = 0
    
    for key in gramas:
        if key in lexicon:
            
            score += 1
            
    l.append(score)   
len(l)

8000

###### EmoSenticNet  frequencies

In [13]:
df['anger_frequency_EmoSenticNet'] = l
df['disgust_frequency_EmoSenticNet'] = l
df['fear_frequency_EmoSenticNet'] = l
df['joy_frequency_EmoSenticNet'] = l
df['sad_frequency_EmoSenticNet'] = l
df['surprise_frequency_EmoSenticNet'] = l

In [55]:
df.loc[df['sad_frequency_EmoSenticNet'] == 4]['text'][109]

"[Group Therapy in Insane Asylum] Therapist: Let's talk about the desires we have to hurt people. Psycho 1: I want to kill people Psycho 2: I want to eat people Psycho 3: I want to post Game Of Thrones spoilers Psycho 1 and 2: What is wrong with you? That is really messed up."

## SentiSense

In [20]:
# anger,anticipation,disgust, fear,joy, like,love,sadness,surprise
col = ['word']
import pandas as pd
df_sentisense = pd.read_csv("/Users/luciainesmerlo/Desktop/TFG/HaHackaton2020/lexicon/SENTISENSE/sentisense_surprise.txt",names=col)

In [21]:
df_sentisense.shape

(134, 1)

In [96]:
df_sentisense['emotion'] = 'surprise'
lexicon = {row['word'] : row['emotion'] for _, row in df_sentisense.iterrows()}

In [97]:
text = df['texto_limpio']

def generate_N_grams(text,ngram=1):
    
    words=[word for word in text.split(" ") ]  
          
    temp=zip(*[words[i:] for i in range(0,ngram)])
    ans={' '.join(ngram):1 for ngram in temp}
    return ans

l = []

for i in text: 
    
    unigrama = generate_N_grams(i,1)
    bigrama = generate_N_grams(i,2)
    trigrama = generate_N_grams(i,3)
    cuatrigrama = generate_N_grams(i,4)
    gramas = {**unigrama, **bigrama,**trigrama,**cuatrigrama}
    
    score = 0
    
    for key in gramas:
        if key in lexicon:
            
            score += 1
            
    l.append(score)   
len(l)

8000

In [98]:
#df['anger_frequency_SentiSense'] = l
#df['anticipation_frequency_SentiSense'] = l
#df['disgust_frequency_SentiSense'] = l
#df['fear_frequency_SentiSense'] = l
#df['joy_frequency_SentiSense'] = l
#df['like_frequency_SentiSense'] = l
#df['love_frequency_SentiSense'] = l
#df['sadness_frequency_SentiSense'] = l
df['surprise_frequency_SentiSense'] = l

## AFINN Lexicon

In [1]:
import pandas as pd
col = ['word','score']
df_afinn = pd.read_excel("/Users/luciainesmerlo/Desktop/TFG/HaHackaton2020/lexicon/AFINN/afinnLexicon.xlsx",names=col)
df_afinn.head()

         word  score
0   abandoned     -2
1    abandons     -2
2    abducted     -2
3   abduction     -2
4  abductions     -2

In [115]:
lexicon = {row['word'] : float(row['score']) for _, row in df_afinn.iterrows()} 
def Average(lst):
    try:
        return sum(lst) / len(lst)
    except ZeroDivisionError:
        return 0

In [118]:
texto = df['texto_limpio']
afinn_lexicon_score = []

for i, t in enumerate(texto):  
    
    lista = []
    words = t.split()

    for index, w in enumerate(words):
        
        val = lexicon.get(w)
        if val:

            lista.append(val)
            
    sentiment = Average(lista)
    afinn_lexicon_score.append(sentiment)

In [120]:
df['afinn_lexicon_score'] = afinn_lexicon_score

## LIWC features

In [187]:
df_liwc = pd.read_excel("haha-2020-train-features-reynier.xlsx",sheet_name='Hoja1')
df_liwc.head(3)

,Unnamed: 0,PsicoLIWCachieve,PsicoLIWCadverb,PsicoLIWCaffect,PsicoLIWCanger,PsicoLIWCanx,PsicoLIWCarticle,PsicoLIWCassent,PsicoLIWCauxverb,PsicoLIWCbio,...,PsicoLIWCsocial,PsicoLIWCspace,PsicoLIWCswear,PsicoLIWCtentat,PsicoLIWCthey,PsicoLIWCtime,PsicoLIWCverb,PsicoLIWCwe,PsicoLIWCwork,PsicoLIWCyou
0,1,1,1,2,1,0,2,1,0,2,...,1,3,1,0,0,0,2,1,0,0
1,2,1,1,1,0,0,4,0,2,1,...,7,2,0,0,0,2,3,0,0,2
2,3,0,1,0,0,0,3,0,4,1,...,2,2,0,0,0,1,6,0,0,0

In [188]:
df_liwc=df_liwc.rename(columns={"Unnamed: 0":"id"})

In [189]:
df_liwc.head(3)

,id,PsicoLIWCachieve,PsicoLIWCadverb,PsicoLIWCaffect,PsicoLIWCanger,PsicoLIWCanx,PsicoLIWCarticle,PsicoLIWCassent,PsicoLIWCauxverb,PsicoLIWCbio,...,PsicoLIWCsocial,PsicoLIWCspace,PsicoLIWCswear,PsicoLIWCtentat,PsicoLIWCthey,PsicoLIWCtime,PsicoLIWCverb,PsicoLIWCwe,PsicoLIWCwork,PsicoLIWCyou
0,1,1,1,2,1,0,2,1,0,2,...,1,3,1,0,0,0,2,1,0,0
1,2,1,1,1,0,0,4,0,2,1,...,7,2,0,0,0,2,3,0,0,2
2,3,0,1,0,0,0,3,0,4,1,...,2,2,0,0,0,1,6,0,0,0

In [190]:
df = pd.merge(df, df_liwc, on="id")
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,id,text,is_humor,humor_rating,humor_controversy,...,PsicoLIWCsocial,PsicoLIWCspace,PsicoLIWCswear,PsicoLIWCtentat,PsicoLIWCthey,PsicoLIWCtime,PsicoLIWCverb,PsicoLIWCwe,PsicoLIWCwork,PsicoLIWCyou
0,0,0,0,0,0,1,TENNESSEE: We're the best state. Nobody even c...,1,2.42,1.0,...,1,3,1,0,0,0,2,1,0,0
1,1,1,1,1,1,2,A man inserted an advertisement in the classif...,1,2.50,1.0,...,7,2,0,0,0,2,3,0,0,2
2,2,2,2,2,2,3,How many men does it take to open a can of bee...,1,1.95,0.0,...,2,2,0,0,0,1,6,0,0,0
3,3,3,3,3,3,4,Told my mom I hit 1200 Twitter followers. She ...,1,2.11,1.0,...,5,2,0,0,0,0,3,0,0,0
4,4,4,4,4,4,5,Roses are dead. Love is fake. Weddings are bas...,1,2.78,0.0,...,2,0,0,0,0,0,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,7995,7995,7995,7995,7995,7996,Lack of awareness of the pervasiveness of raci...,0,NaN,NaN,...,5,1,0,3,0,0,3,3,0,0
7996,7996,7996,7996,7996,7996,7997,Why are aspirins white? Because they work sorry,1,1.33,0.0,...,1,0,0,0,1,0,1,0,1,0
7997,7997,7997,7997,7997,7997,7998,"Today, we Americans celebrate our independence...",1,2.55,0.0,...,4,0,0,0,0,2,0,3,0,0
7998,7998,7998,7998,7998,7998,7999,How to keep the flies off the bride at an Ital...,1,1.00,0.0,...,2,2,1,0,0,1,2,0,0,0
7999,7999,7999,7999,7999,7999,8000,"""Each ounce of sunflower seeds gives you 37% o...",0,NaN,NaN,...,3,1,0,0,0,1,2,0,0,2

### Tipology of groups and social categories

1	national groups
2	Ilness/heath groups
3	Age groups
4	Victims
5	Political group
6	Ethinc 
7	Inmigration
8	Professional and class groups
9	Sexual Categories
10	Women
11	Physical appearance
12	Religion
13	Style of life
14	Non normative

In [1]:
import pandas as pd 
df = pd.read_excel("datos_features.xlsx")
df.head(2)

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,id,text,...,PsicoLIWCwe,PsicoLIWCwork,PsicoLIWCyou,first_person_singular_pronoun,second_person_singular_pronoun,third_person_singular_pronoun,first_person_plural_pronoun,second_person_plural_pronoun,third_person_plural_pronoun,punctuation_symbols
0,0,0,0,0,0,0,0,0,1,TENNESSEE: We're the best state. Nobody even c...,...,1,0,0,0,0,0,1,0,0,4
1,1,1,1,1,1,1,1,1,2,A man inserted an advertisement in the classif...,...,0,0,2,1,0,0,0,0,0,4

In [38]:
social = pd.read_excel('TIPOLOGY OF GROUPS AND SOCIAL CATEGORIES.xlsx',sheet_name='Hoja1')
social.groupby(['cat'],as_index=False).size()

     cat  size
0    1.0   153
1    2.0    53
2    3.0    27
3    4.0   110
4    5.0    30
5    6.0    64
6    7.0    10
7    8.0    17
8    9.0    41
9   10.0    21
10  11.0    15
11  12.0    34
12  13.0    34
13  14.0    22

In [17]:
lexicon = {row['word'] : str(row['cat']) for _, row in social.iterrows()}

In [18]:
def cat(num):
    if num == '1.0':
        return 'national groups'
    elif num == '2.0':
        return 'Ilness/heath groups'
    elif num == '3.0':
        return 'Age groups'
    elif num == '4.0':
        return 'Victims'
    elif num == '5.0':
        return 'Political group'
    elif num == '6.0':
        return 'Ethinc'
    elif num == '7.0':
        return 'Inmigration'
    elif num == '8.0':
        return 'Professional and class groups'
    elif num == '9.0':
        return 'Sexual Categories'
    elif num == '10.0':
        return 'Women'
    elif num == '11.0':
        return 'Physical appearance'
    elif num == '12.0':
        return 'Religion'
    elif num == '13.0':
        return 'Style of life'
    elif num == '14.0':
        return 'Non normative'

In [19]:
text = df['texto_limpio']

def generate_N_grams(text,ngram=1):
    
    words=[word for word in text.split(" ") ]  
          
    temp=zip(*[words[i:] for i in range(0,ngram)])
    ans={' '.join(ngram):1 for ngram in temp}
    return ans

l_national_groups = []
l_Ilness_heath_groups= []
l_Age_groups= []
l_Victims= []
l_Political_group= []
l_Ethinc= []
l_Inmigration= []
l_Professional_and_class_groups= []
l_Sexual_Categories= []
l_Women= []
l_Physical_appearance= []
l_Religion= []
l_Style_of_life= []
l_Non_normative= []

sc = set()

for i in text: 
    
    unigrama = generate_N_grams(i,1)
    bigrama = generate_N_grams(i,2)
    trigrama = generate_N_grams(i,3)
    cuatrigrama = generate_N_grams(i,4)
    cincograma = generate_N_grams(i,5)
    seisgrama = generate_N_grams(i,6)
    sietegrama = generate_N_grams(i,7)
    ochograma = generate_N_grams(i,8)
    gramas = {**unigrama, **bigrama,**trigrama,**cuatrigrama,**cincograma,**ochograma,**seisgrama,**sietegrama}
    
    s1 = 0
    s2 = 0
    s3 = 0
    s4 = 0
    s5 = 0
    s6 = 0
    s7 = 0
    s8 = 0
    s9 = 0
    s10 = 0
    s11= 0
    s12 = 0
    s13 = 0
    s14 = 0
    
    for key in gramas:
        word_category = lexicon.get(key)
        
        
        if word_category == '1.0': s1 += 1
        elif word_category == '2.0': s2 += 1
        elif word_category == '3.0': s3 += 1
        elif word_category == '4.0': s4 += 1
        elif word_category == '5.0': s5 += 1
        elif word_category == '6.0': s6 += 1
        elif word_category == '7.0': s7 += 1
        elif word_category == '8.0': s8 += 1
        elif word_category == '9.0': 
            s9 += 1
            sc.add(key)
        elif word_category == '10.0': s10 += 1
        elif word_category == '11.0': s11 += 1
        elif word_category == '12.0': s12 += 1
        elif word_category == '13.0': s13 += 1
        elif word_category == '14.0': s14 += 1
          
    l_national_groups.append(s1)
    l_Ilness_heath_groups.append(s2)
    l_Age_groups.append(s3)
    l_Victims.append(s4)
    l_Political_group.append(s5)
    l_Ethinc.append(s6)
    l_Inmigration.append(s7)
    l_Professional_and_class_groups.append(s8)
    l_Sexual_Categories.append(s9)
    l_Women.append(s10)
    l_Physical_appearance.append(s11)
    l_Religion.append(s12)
    l_Style_of_life.append(s13)
    l_Non_normative.append(s14)    
            
    
len(l_national_groups)

8000

In [22]:
print(list(sc),list(s))

['gay people', 'lgbt community', 'cis', 'lgbt', 'trans folk', 'gay', 'trans people'] ['snatch', 'tomato', 'dome', 'faggot', 'bean', 'slit', 'puss', 'turnip', 'squash', 'melon', 'homo', 'cunt', 'pumpkin', 'potato', 'attic', 'bittersweet', 'gay', 'stupid', 'cucumber', 'fag', 'queer', 'noodle']

In [6]:
df['national_groups']=l_national_groups

df['Ilness/heath_groups']=l_Ilness_heath_groups

df['Age_groups']=l_Age_groups

df['Victims']=l_Victims

df['Political_group']=l_Political_group

df['Ethinc']=l_Ethinc

df['Inmigration']=l_Inmigration

df['Professional_and_class_groups']=l_Professional_and_class_groups

df['Sexual_Categories']=l_Sexual_Categories

df['Women']=l_Women

df['Physical_appearance']=l_Physical_appearance

df['Religion']=l_Religion

df['Style_of_life']=l_Style_of_life

df['Non_normative']=l_Non_normative

In [14]:
import os
df.to_excel('/Users/luciainesmerlo/Desktop/TFG/HaHackaton2020/datos_features.xlsx')